{% extends layout %}
{% block title %}{{ data.nama }} - Gallery - {% endblock %}
{% block menu %}gallery{% endblock %}
{% block content %}

<div class="wrap-outer-content-inside">
	<div class="prelatife container">
		<div class="clear height-50"></div>
		<div class="height-30"></div>
		<div class="content-text text-center what_wecando">
			<h1>GALLERY</h1>
			<div class="clear height-40"></div> 
			<p>Album of: {{ data.nama }}</p>
			<p>
				<a href="{{ url('gallery') }}" class="backt-gallery">&lt; Back to Gallery</a>
			</p>
			<div class="clear height-40"></div> <div class="height-5"></div>
			<div class="w1185 tengah text-center prelatife">
				<div class="clear height-15"></div>

				{# Start New Data Gallery #}
					<div class="outer-list-data-gallery">
						<div class="row">
							{% if data %}
								<ul id="light-gallery" class="gallery">
								{% for key, item in data.list_images %}
								        <li data-src="{{ app.request.baseurl }}/images/gallery/{{ data.folder_name }}/{{ item }}">
								        	<a href="{{ app.request.baseurl }}/images/gallery/{{ data.folder_name }}/{{ item }}">
								            <img class="img-responsive" src="{{ app.request.baseurl }}/image.php/{{ item }}?width=342&amp;height=228&amp;cropratio=342:228&amp;image=/images/gallery/{{ data.folder_name }}/{{ item }}" alt="">
								            </a>
								        </li>
								{% endfor %}
							    </ul>
							{% endif %}

							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				{# End New Data Gallery #}
				
				<div class="height-30"></div> <div class="height-10"></div>
				<div class="tengah text-center text-bottomfux-wecan">
					<img src="{{ app.request.baseurl }}/asset/images/icon-i-skblack.png" alt="">
					<div class="clear height-10"></div>
					<span>
						Want to start your own project? <a href="{{ url('contact') }}">Contact Us</a>.
					</span>
					<div class="clear"></div>
				</div>


				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>	

		<div class="clear"></div>
	</div>
</div>
<div class="clear height-25"></div>
<div class="clear height-50"></div>

 	<link rel="stylesheet"  href="{{ app.request.baseurl }}/asset/js/light-gallery/css/lightGallery.css"/>
    <script src="{{ app.request.baseurl }}/asset/js/light-gallery/js/lightGallery.js"></script>
    <script>
    	 $(document).ready(function() {
			$("#light-gallery").lightGallery();
		});
    </script>
{% endblock %}
