{% extends layout %}
{% block title %}Line Ups - {% endblock %}
{% block menu %}linesup{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center pg-linesup">
			LINE UPS <div class="clear"></div>
			{# <span class="smalls">IN ALPHABETICAL OR</span> #}
		</div>
		<div class="clear height-50"></div><div class="height-35"></div>
		<div class="clear"></div>
	</div> 
		<div class="listing-data-linesups-datasl">
			<div class="clear height-10"></div>
			<div class="tjadwal-peluncuran">
				{# <p class="text-center" style="letter-spacing:1px; font-size: 32px;">Line UP Announcement Coming Soon</p> #}
			</div>
			<div class="lists_lines_upDefault">

				<!-- line up 2017 -->
				<div class="row">
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/DJ ALAN WALKER.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/DJ ALAN WALKER.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/DVBBS.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/DVBBS.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/DJ CESQEAUX.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/DJ CESQEAUX.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/DJ JADE RASIF.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/DJ JADE RASIF.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/WEIRD GENIUS.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/WEIRD GENIUS.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/DJ WW.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/DJ WW.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/DJ DIPHA BARUS.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/DJ DIPHA BARUS.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new_2017/big/DJ JEVIN JULIAN.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new_2017/DJ JEVIN JULIAN.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					

				</div>


				<!-- line up 2016 -->
				{# <div class="row">
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new/big/pixiee.jpg">
									<img src="{{ app.request.baseurl }}/images/linesup_new/pixiee.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new/big/goldie-emeralda.jpg"><img src="{{ app.request.baseurl }}/images/linesup_new/goldie-emeralda.jpg" alt="" class="img-responsive"></a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new/big/pjoana-maharanie.jpg"><img src="{{ app.request.baseurl }}/images/linesup_new/pjoana-maharanie.jpg" alt="" class="img-responsive"></a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new/big/justin-oh.jpg"><img src="{{ app.request.baseurl }}/images/linesup_new/justin-oh.jpg" alt="" class="img-responsive"></a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new/big/ben-nicky.jpg"><img src="{{ app.request.baseurl }}/images/linesup_new/ben-nicky.jpg" alt="" class="img-responsive"></a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="items">
							<div class="pic">
								<a href="javascript:;" class="dynamic" data-img="{{ app.request.baseurl }}/images/linesup_new/big/w-w.jpg"><img src="{{ app.request.baseurl }}/images/linesup_new/w-w.jpg" alt="" class="img-responsive"></a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>#}

				<div class="clear"></div>
			</div>


			{# <div class="row">
				{% if data %}
					<div class="col-md-12">
						<div class="tagline-home text-center" style="font-size: 34px;">PHASE 1</div>
						<div class="clear height-40"></div>
					</div>
					{% for ls_data2 in data %}
						{% if ls_data2.id < 8 and ls_data2.images != '' %}
							{% if ls_data2.id == 4 %} <div class="col-md-4"></div> {% endif %}
							<div class="col-md-4">
								<div class="itemss"><img src="{{ app.request.baseurl }}/images/linesup/{{ ls_data2.images }}" alt="" class="img-responsive"></div>
							</div>
							{% if ls_data2.id == 4 %} <div class="col-md-4"></div> {% endif %}
						{% endif  %}
					{% endfor %}

					{% for key, ls_data in data %}
					{% if ls_data.id == 8  %}
							<div class="col-md-12">
								<div class="clear height-50"></div><div class="height-10"></div>
								<div class="tagline-home text-center" style="font-size: 34px;">PHASE 2</div>
								<div class="clear height-40"></div>
							</div>
							<div class="col-md-4"></div>
							{% if ls_data.id == 8 %}
								<div class="col-md-4">
									<div class="itemss"><img src="{{ app.request.baseurl }}/images/linesup/{{ ls_data.images }}" alt="" class="img-responsive"></div>
								</div>
							{% endif  %}
							<div class="col-md-4"></div>
						{% endif  %}
					{% endfor  %}
					<div class="col-md-12"> <div class="clear height-50"></div><div class="height-10"></div> </div>
					<div class="col-md-12">
						<div class="tagline-home text-center" style="font-size: 34px;">PHASE 3</div>
						<div class="clear height-40"></div>
					</div>
					{% for key, ls_data in data %}
						{% if ls_data.id == 10 or ls_data.id == 11 or ls_data.id == 9 %}
							
							{% if ls_data.id == 11 %}
								<div class="col-md-4">
									<div class="itemss"><img src="{{ app.request.baseurl }}/images/linesup/{{ ls_data.images }}" alt="" class="img-responsive"></div>
								</div>
							{% endif  %}
							{% if ls_data.id == 10 %}
								<div class="col-md-4">
									<div class="itemss"><img src="{{ app.request.baseurl }}/images/linesup/{{ ls_data.images }}" alt="" class="img-responsive"></div>
								</div>
							{% endif  %}
							{% if ls_data.id == 9 %}
								<div class="col-md-4">
									<div class="itemss"><img src="{{ app.request.baseurl }}/images/linesup/{{ ls_data.images }}" alt="" class="img-responsive"></div>
								</div>
							{% endif  %}
						{% endif  %}

					{% endfor %}

						<div class="col-md-12"> <div class="clear height-50"></div><div class="height-10"></div> </div>
							<div class="col-md-12">
								<div class="tagline-home text-center" style="font-size: 34px;">PHASE 4</div>
								<div class="clear height-40"></div>
							</div>
						{% for key, ls_data in data %}
							{% if ls_data.id == 12 %}
								<div class="col-md-4">&nbsp;</div>
									<div class="col-md-4">
										<div class="itemss"><img src="{{ app.request.baseurl }}/images/linesup/{{ ls_data.images }}" alt="" class="img-responsive"></div>
									</div>
									<div class="col-md-4">&nbsp;</div>
								{% endif  %}
						{% endfor %}

						<div class="col-md-12"> <div class="clear height-50"></div><div class="height-10"></div> </div>
							<div class="col-md-12">
								<div class="tagline-home text-center" style="font-size: 34px;">PHASE 5</div>
								<div class="clear height-40"></div>
							</div>
						{% for key, ls_data in data %}
							{% if ls_data.id == 13 %}
								<div class="col-md-4">&nbsp;</div>
									<div class="col-md-4">
										<div class="itemss"><img src="{{ app.request.baseurl }}/images/linesup/{{ ls_data.images }}" alt="" class="img-responsive"></div>
									</div>
									<div class="col-md-4">&nbsp;</div>
								{% endif  %}
						{% endfor %}
				{% endif %}
			</div> #}

			<div class="clear"></div>
		</div>
		<div class="clear height-40"></div>
		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.15/css/lightgallery.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.15/js/lightgallery-all.min.js"></script>
<script>
	 $(document).ready(function() {
		$(".light-gallery").lightGallery({
			thumbnail:false,
		    animateThumb: false,
		    showThumbByDefault: false
		});

		$('.dynamic').on('click', function() {
 			var src_t = $(this).attr('data-img');

		    $(this).lightGallery({
		        dynamic: true,
		        dynamicEl: [{
		            "src": src_t,
		            // 'thumb': '../static/img/thumb-1.jpg',
		            // 'subHtml': '<h4>Fading Light</h4>'
		        }]
		    })
		 
		});

	});
</script>
{% endblock %}
