<p>Thank you for contacting us! we will respond to you shortly.</p>
<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Telepon</td>
		<td>:</td>
		<td>{{ data.telepon }}</td>
	</tr>
	<tr>
		<td>Perusahaan</td>
		<td>:</td>
		<td>{{ data.perusahaan }}</td>
	</tr>
	<tr>
		<td>Message</td>
		<td>:</td>
		<td>{{ data.message }}</td>
	</tr>
</table>

<p>Copyright &copy; 2014 Ecoblock.&nbsp;&nbsp;&nbsp;Tel/Fax. (031) 366 0299</p>