{% extends layout %}
{% block title %}Partners - {% endblock %}
{% block menu %}partners{% endblock %}
{% block content %}
	
	<div class="outers-data-inside-about mw-950 tengah text-center">
		<div class="tagline-home text-center">
			PARTNERS
		</div>
		<div class="clear height-50"></div><div class="height-35"></div>
		{# <div class="tjadwal-peluncuran text-center">
			<b>Partner will be ready soon.</b>
			<div class="clear"></div>
		</div> #}

		<div class="outers-partner-data">
			{# <img src="{{ app.request.baseurl }}/asset/images/partners-logo/1.png" alt="" class="img-responsive pc-center">
			<div class="clear height-35"></div>
			<img src="{{ app.request.baseurl }}/asset/images/partners-logo/lg-parnters-new.png" alt="" class="img-responsive pc-center">
			<div class="clear height-35"></div> #}
			{# <img src="{{ app.request.baseurl }}/asset/images/partners-logo/2.png" alt="" class="img-responsive">
			<div class="clear height-35"></div>
			<img src="{{ app.request.baseurl }}/asset/images/partners-logo/3.png" alt="" class="img-responsive">
			<div class="clear height-35"></div>
			<img src="{{ app.request.baseurl }}/asset/images/partners-logo/4.png" alt="" class="img-responsive">
			<div class="clear height-35"></div>
			<img src="{{ app.request.baseurl }}/asset/images/partners-logo/5.png" alt="" class="img-responsive">
			<div class="clear height-35"></div> #}

			<div class="tagline-home text-center font-s22">SPONSOR</div>
			<div class="clear height-20"></div>
			<div class="text-center pict-tengahmiddles-sponsor">
				<img src="{{ app.request.baseurl }}/asset/images/SPONSORS.png" alt="" class="img-responsive pc-center">
			</div> <div class="clear height-50"></div>

			<div class="tagline-home text-center font-s22">MEDIA PARTNER</div>
			<div class="clear height-20"></div>
			<div class="text-center pict-tengahmiddles-sponsor">
				{# <img src="{{ app.request.baseurl }}/asset/images/MEDIA-PARTNER.png" alt="" class="img-responsive pc-center"> #}
				<ul class="list-inline text-center">
					<!-- <li>
						<img src="{{ app.request.baseurl }}/images/partner/media/event-surabaya.png" alt="">
					</li> -->
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/media/istara-fm.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/media/hard-rock-fm.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/media/elfara-fm.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/media/radio-surabaya.png" alt="">
					</li>
					
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/media/logo_aiola.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/media/logo_djFm.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/media/logo_java.png" alt="">
					</li>
					
				</ul>
			</div>
			<div class="clear height-50"></div>
			
			<!-- <div class="tagline-home text-center font-s22">HOTEL PARTNER</div>
			<div class="clear height-20"></div>
			<div class="text-center pict-tengahmiddles-sponsor"> 
				<ul class="list-inline text-center">
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/hotel/varna-culture.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/hotel/art-hotel.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/hotel/holiday-inn.png" alt="">
					</li>
					<li>
						<img src="{{ app.request.baseurl }}/images/partner/hotel/swiss-belinn.png" alt="">
					</li>
				</ul>
			</div>
			<div class="clear height-30"></div> -->

			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</div>
	<style type="text/css">
		.pict-tengahmiddles-sponsor ul{
			margin-right: 0;
		}
		.pict-tengahmiddles-sponsor ul li{
			padding: 0 20px 5px;
		}
	</style>
{% endblock %}
